/* Reset y configuración base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Alfa Slab One", serif;
  line-height: 1.6;
  color: #333;
}

/* Animaciones keyframes */
@keyframes pulso {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* @keyframes entrada-desde-abajo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} ver, no funciona*/
 
/* Header */
.header {
  background-color: #252523;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  animation: pulso 2s infinite;
}
.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.menu a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #acb7ae;
  transition: width 0.3s ease;
}
.menu a:hover {
  color:#acb7ae;
}
.menu a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  height: 715px;
  justify-content: center;
  /* animation: entrada-desde-abajo 0.6s ease-out forwards;  ver, no funciona
  opacity: 0;*/
    
}

.hero-frase {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
}

/* Secciones */
.sobremi,
.portfolio,
.contactame {
  padding: 6rem 1rem;
}

/* Sobre Mí */

.sobremi {
  display: flex;
  background-color:#4b6777;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor{
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 900px;
  align-items: center;
  background-color:#acb7ae;
  border-radius: 12px;
 }
 
.contenedor img{
  width: 462px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
       
}

.contenedor .info{
  padding: 0 50px;
  margin: 30px 0;
  color: black;
}